{% extends 'blog/base.html' %}
{% block main %}

    <main class="col-md-12">
    {% for article in articles %}
    <article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{% url 'blog:single' article.id%}">{{article.title}}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{article.kind}}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                      datetime="2012-11-09T23:15:57+00:00">{{article.publish_date}}</time></a></span>
            <span class="post-author"><a href="#">{{article.user.nickname}}</a></span>
            <span class="comments-link"><a href="#">{{article.comment_count}} 评论</a></span>
            <span class="views-count"><a href="#">{{article.read_count}} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{article.content}}</p>
        <div class="read-more cl-effect-14">
            <a href="{% url 'blog:single' article.id%}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
    </article>
    {% empty %}
    <div>当前没有任何文章</div>
    {% endfor %}
    </main>
{% endblock %}
{% block newarticle %}  {% endblock %}
{% block monthfile %}  {% endblock %}
{% block kind %}  {% endblock %}
{% block tag %}  {% endblock %}
{% block RSS %}  {% endblock %}
{% block footer %}  {% endblock %}
{% block menu %}  {% endblock %}