{% extends "bookmanage/layout.html" %}
{% block title %} 阅读记录 {% endblock %}
{% block link %} 
	<a href="{% url 'bookmanage:home' %}"> 返回 </a>
{% endblock %}
{% block body %}
	<table width="600" border="1" align="center">
	  <tr>
	    <th align="center"> 书名 </th>
	    <th align="center"> 借书日期 </th>	
	    <th align="center"> 还书日期 </th>
	    <th align="center"> 状态 </th>
	  </tr>
	  {% for borrow in borrows %}
	  <tr>
	    <th align="center"> {{borrow.book.name}} </th>
	    <th align="center"> {{borrow.borrow_time}}</th>
	    <th align="center"> {{borrow.return_time}} </th>
	    <th align="center"> {{borrow.status}} </th>
	  </tr>
	  {% endfor %}
	</table>	

{% endblock %}
