<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页面</title>



    <link rel="stylesheet" href="/static/blog/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/blog/js/lib/jquery-2.1.4/jquery-2.1.4.js"></script>
    <script src="/static/blog/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>


</head>
<body>


    <nav class="navbar navbar-default">
			<div class="container">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{% url 'blog:home' %}"><span class="glyphicon glyphicon-home"></span>首页<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-tag"></span> 博客</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-book"></span> 学院</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 商城</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-star"></span> VIP会员</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-download-alt"></span> 下载</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-th-large"></span> APP</a>
						</li>
					</ul>

					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="搜索博客">
							<span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                        </span>
						</div>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/publish"> <span class="glyphicon glyphicon-pencil"></span>写博客</a>
						</li>
						<li>
							<a href="#"> <span class="glyphicon glyphicon-envelope"></span>消息</a>
						</li>
						<li>
							<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: #f7f7f7;border: none;margin-top: 8px;color: #777">
							管理
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
							<li><a href="#">我的关注</a></li>
							<li><a href="#">我的收藏</a></li>
							<li><a href="#">个人中心</a></li>
							<li><a href="#">账号设置</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">我的博客</a></li>
							<li><a href="{% url 'blog:manage_article' %}">管理博客</a></li>
							<li><a href="#">我的学院</a></li>
							<li><a href="#">我的下载</a></li>
							  <li role="separator" class="divider"></li>
							  <li><a href="#">我的C币</a></li>
							  <li><a href="#">订单中心</a></li>
							  <li role="separator" class="divider"></li>
							  <li><a href="#">帮助</a></li>
							  <li><a href="/">退出</a></li>

						  </ul>
						</div>
						</li>
					</ul>


				</div>

			</div>
		</nav>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="border-bottom: 1px solid #777777">
                <div style="border-bottom: 1px solid #777777; margin-bottom: 15px;"><h2>{{article.title}}</h2></div>
				<div>{{article.content}}</div>
				{% for comment in article.comment_set.all %}
					<div style="margin-top: 20px; margin-bottom: 20px">
						<p><a href="">{{comment.user.nickname}}:</a> <span style="float: right">{{comment.comment_time}}</span></p>
						<p>{{comment.content}}</p>
            	</div>

				{%  endfor %}
            </div>
			<div class="col-md-8 col-md-offset-2" style="margin-top: 15px">
				<form action="{% url 'blog:comment' %}" method="get">
					<input type="hidden" name="aid" value={{article.id}} />
					<textarea class="form-control" rows="3" name="comment"></textarea>
					<button type="submit" class="btn btn-default" style="margin-top: 5px">评论</button>
				</form>
				
			</div>

        </div>
    </div>

</body>
</html>