<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表文章</title>

    <link rel="stylesheet" href="/static/blog/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/blog/js/lib/jquery-2.1.4/jquery-2.1.4.js"></script>
    <script src="/static/blog/js/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

	<script src="/static/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
		tinyMCE.init({
			'mode':'textareas',
			'theme':'advanced',
			'width':846,
			'height':500
		});
	</script>


</head>
<body style="background-color: cadetblue">

    <nav class="navbar navbar-default">
			<div class="container">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{% url 'blog:home' %}"><span class="glyphicon glyphicon-home"></span>首页<span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-tag"></span> 博客</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-book"></span> 学院</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 商城</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-star"></span> VIP会员</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-download-alt"></span> 下载</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-th-large"></span> APP</a>
						</li>
					</ul>

					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="搜索博客">
							<span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                        </span>
						</div>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/publish"> <span class="glyphicon glyphicon-pencil"></span>写博客</a>
						</li>
						<li>
							<a href="#"> <span class="glyphicon glyphicon-envelope"></span>消息</a>
						</li>
						<li>
							<a href="#"> <span class="glyphicon glyphicon-cog"></span>设置</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>



    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                  <a href="{% url 'blog:home' %}" class="list-group-item list-group-item-success">查看主页</a>
                  <a href="{% url 'blog:manage_article' %}" class="list-group-item list-group-item-info">博客管理</a>
                  <a href="#" class="list-group-item list-group-item-warning">评论管理</a>
                  <a href="#" class="list-group-item list-group-item-danger">个人分类管理</a>
                </div>
            </div>

            <div class="col-md-9">
                <form action="{% url 'blog:publish' %}" method="post">
                    <input type="text" class="form-control" placeholder="输入文章标题" name="title">
                    <textarea class="form-control" rows="23" name="content"></textarea>
                     <button type="submit" class="btn btn-default">发表文章</button>
                </form>
            </div>


        </div>
    </div>

</body>
</html>