<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/login.css">

</head>
<body>

    <div style="width: 800px; margin: auto;">
        <h1 style="text-align: center;">欢迎注册</h1>
        <form action="" method="post" style="text-align: center;">
            账号：<input type="text" name="account"><br>
            密码：<input type="text" name="password"><br>
            <input type="submit">
        </form>
        <div style="width: 800px; margin: auto;">
            <a href="/">返回主页</a>
            <a href="/login">用户登录</a>
        </div>
    </div>


</body>
</html>