{% extends 'shopping/base.html' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>404 Not Found || Bachas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block body %}
    <!--Breadcrumb Start-->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <a title="Return to Home" href="{% url 'shopping:home' 1 %}" class="home"><i class="fa fa-home"></i>Home</a>
                        <span class="navigation">&gt;</span>404 Not Found
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb-->
    <!--Error Text Area Start-->
    <section class="error-text-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="error-text">
                        <img src="/static/img/not-found.png" alt="">
                        <h1>OPPS! PAGE NOT FOUND</h1>
                        <a href="{% url 'shopping:home' 2 %}">BACK TO HOME PAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of Error Text Area-->
{% endblock %}
