{% extends 'shopping/blog.html' %}
{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog Details || Bachas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block col-right %}
    <div class="col-md-9">
        <div class="single-blog">
            <div class="post-thumbnail"><img src="/static/img/blog/1.jpg" alt="" /></div>
            <div class="postinfo-wrapper">
                <div class="post-date">
                    <span class="day">10</span><span class="month">Mar</span>
                </div>
                <div class="post-info">
                    <h1 class="blog-post-title">Blog image post layout investigationes demonstraverunt</h1>
                    <div class="entry-meta">
                        Posted by <span class="author vcard"><a class="url fn n" href="#" title="View all posts by admin" rel="author">admin</a></span> / <a href="#" rel="category tag">Fashion</a>, <a href="#" rel="category tag">WordPress</a>
                    </div>
                    <div class="entry-summary">
                        <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum</p>
                        <blockquote>
                            <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</p>
                        </blockquote>
                        <p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.</p>
                        <p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et eget neque. Nunc ante quam, luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu, fringilla a sem condimentum, viverra facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.</p>
                    </div>
                    <div class="entry-meta">
                        <a href="#">3 comments </a><span class="author vcard">/ Tags:</span> / <a href="#">fashion</a>, <a href="#">t-shirt</a>, <a href="#">white</a>
                    </div>
                    <div class="share-icon">
                        <h3>Share this post</h3>
                        <ul>
                            <li><a class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="pinterest" target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="google-plus" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="author-info">
                        <div class="author-avatar">
                            <img alt="" src="/static/img/avatar.png">
                        </div>
                        <div class="author-description">
                            <h2>About the Author:
                                <a href="#">admin</a>
                            </h2>
                            <p>Cras id nulla at metus congue auctor. Suspendisse auctor dictum orci quis interdum. Nullam et eleifend metus. Integer in est orci. Duis hendrerit ex metus, vel tempor sem aliquet nec. Donec ornare hendrerit bibendum. Nullam dui erat, tempus eu nisl vitae, venenatis gravida ipsum. Suspendisse potenti.</p>
                        </div>
                    </div>

                    <div class="reply-comment-area">
                        <h3>3 comments</h3>
                        <div class="single-reply">
                            <div class="comment-author">
                                <img alt="" src="/static/img/comment/1.jpg">
                            </div>
                            <div class="comment-info">
                                <div class="comment-author-info">
                                    <a href="#"><b>admin</b></a>
                                    Post author
                                    <span>October 6, 2014 at 1:38 am</span>
                                    <a href="#">Reply</a>
                                </div>
                                <p>just a nice post</p>
                            </div>
                        </div>
                        <div class="single-reply user-comment">
                            <div class="comment-author">
                                <img alt="" src="/static/img/comment/1.jpg">
                            </div>
                            <div class="comment-info">
                                <div class="comment-author-info">
                                    <a href="#"><b>demo</b></a>
                                    Post author
                                    <span>October 6, 2014 at 1:38 am</span>
                                    <a href="#">Reply</a>
                                </div>
                                <p>just a nice post</p>
                            </div>
                        </div>
                        <div class="single-reply">
                            <div class="comment-author">
                                <img alt="" src="/static/img/comment/1.jpg">
                            </div>
                            <div class="comment-info">
                                <div class="comment-author-info">
                                    <a href="#"><b>admin</b></a>
                                    Post author
                                    <span>October 6, 2014 at 1:38 am</span>
                                    <a href="#">Reply</a>
                                </div>
                                <p>just a nice post</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-comment-form-area">
                        <h3>Leave a Reply</h3>
                        <form action="#">
                            <p>Your email address will not be published. Required fields are marked <span class="required">*</span></p>
                            <ul class="form-list">
                                <li>
                                    <div class="fields">
                                        <div class="field name">
                                            <label for="name"><em>*</em>Name</label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" title="Name" name="name" id="name">
                                            </div>
                                        </div>
                                        <div class="field email">
                                            <label for="email"><em>*</em>Email</label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" title="Email" name="email" id="email">
                                            </div>
                                        </div>
                                        <div class="field website">
                                            <label for="website"><em>*</em>Website</label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" title="Website" name="website" id="website">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="fields fields-1">
                                        <div class="field comment">
                                            <label for="comment">Comment</label>
                                            <div class="input-box">
                                                <textarea name="comment" class="input-text" id="comment" cols="30" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><input id="com-submit" type="submit" value="Post Comment"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
