{% extends 'shopping/home-base.html' %}

{% block center %}
     <!--Slider Area Start-->
    <div class="slider-area home-four-slider">
        <div class="preview-2">
            <div id="nivoslider" class="slides">
                <a href="#"><img src="/static/img/slider/slider-7.jpg" alt=""/></a>
                <a href="#"><img src="/static/img/slider/slider-8.jpg" alt=""/></a>
            </div>
        </div>
    </div>
    <!--End of Slider Area-->
    <!--Featured Product Carousel Area Start-->
    <div class="featured-product-carousel-area-four">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-four-section-title">
                        <h4><span>New products</span></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="featured-product-carousel-four carousel-style-two">
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-1.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Faded Short Sleeves T-shirt</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 61.19</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-2.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Faded Short Sleeves T-shirt</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 61.19</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-3.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Faded Short Sleeves T-shirt</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 61.19</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-4.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Blouse</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 56.64</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-5.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Blouse</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 56.64</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-6.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Blouse</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 56.64</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-7.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Prited Dress</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 32.00</span>
                                        <span class="old-price">£ 41.00</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-1.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Prited Dress</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 32.00</span>
                                        <span class="old-price">£ 41.00</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-2.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Prited Dress</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 32.00</span>
                                        <span class="old-price">£ 41.00</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-3.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Prited Dress</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 87.88</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-4.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Prited Dress</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 87.88</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-5.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Prited Dress</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 87.88</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-6.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Sunglass</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 55.44</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-7.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Sunglass</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 55.44</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-1.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Sunglass</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 55.44</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-2.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 21.23</span>
                                        <span class="old-price">£ 24.78</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-3.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 21.23</span>
                                        <span class="old-price">£ 24.78</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-4.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 21.23</span>
                                        <span class="old-price">£ 24.78</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-5.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 87.19</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-6.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 87.19</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-7.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 87.19</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Featured Product Carousel Area-->
    <!--Banner Area Start-->
    <div class="home-four-banner-area">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="img">
                    <a href="#" class="white-hover">
                        <img src="/static/img/banner/banner-9.jpg" alt="">
                    </a>
                </div>
                <div class="img">
                    <a href="#" class="white-hover">
                        <img src="/static/img/banner/banner-10.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="img">
                            <a href="#" class="white-hover">
                                <img src="/static/img/banner/banner-11.jpg" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="#" class="white-hover">
                                <img src="/static/img/banner/banner-12.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="img">
                            <a href="#" class="white-hover">
                                <img src="/static/img/banner/banner-13.jpg" alt="">
                            </a>
                        </div>
                        <div class="img">
                            <a href="#" class="white-hover">
                                <img src="/static/img/banner/banner-14.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Banner Area-->
{% endblock %}

{% block featured-product-area %}
{% endblock %}


{% block fullwidth-banner-area %}
    <!--Fullwidth Banner Area Start-->
    <div class="fullwidth-banner-area">
        <a href="#" class="white-hover">
            <img src="/static/img/banner/banner-15.jpg" alt="">
        </a>
    </div>
    <!--End of Fullwidth Banner Area-->
{% endblock %}