{% extends 'shopping/base.html' %}
{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Details || Bachas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <!--Breadcrumb Start-->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <a title="Return to Home" href="{% url 'shopping:home' 1 %}" class="home"><i class="fa fa-home"></i>Home</a>
                        <span class="navigation">&gt;</span>Product Details
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb-->
    <!--Product Details Area Start-->
    <div class="product-details-area">
        <div class="container">
            <div class="row product-details">
                <div class="product-left-column col-lg-4 col-md-4 col-sm-5">
                    <div class="product-s-l">
                        <div class="product-large">
                            <div class="tab-content">
                                <div class="tab-pane active in" id="img-1">
                                    <a class="fancybox" data-fancybox-group="group" href="/static/img/product/tab-image/l-1.jpg"><img alt="" src="/static/img/product/tab-image/l-1.jpg"></a>
                                </div>
                                <div class="tab-pane" id="img-2">
                                    <a class="fancybox" data-fancybox-group="group" href="/static/img/product/tab-image/l-2.jpg"><img alt="" src="/static/img/product/tab-image/l-2.jpg"></a>
                                </div>
                                <div class="tab-pane" id="img-3">
                                    <a class="fancybox" data-fancybox-group="group" href="/static/img/product/tab-image/l-3.jpg"><img alt="" src="/static/img/product/tab-image/l-3.jpg"></a>
                                </div>
                                <div class="tab-pane" id="img-4">
                                    <a class="fancybox" data-fancybox-group="group" href="/static/img/product/tab-image/l-4.jpg"><img alt="" src="/static/img/product/tab-image/l-4.jpg"></a>
                                </div>
                                <div class="tab-pane" id="img-5">
                                    <a class="fancybox" data-fancybox-group="group" href="/static/img/product/tab-image/l-5.jpg"><img alt="" src="/static/img/product/tab-image/l-5.jpg"></a>
                                </div>
                                <div class="tab-pane" id="img-6">
                                    <a class="fancybox" data-fancybox-group="group" href="/static/img/product/tab-image/l-6.jpg"><img alt="" src="/static/img/product/tab-image/l-6.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-small">
                            <ul class="nav nav-tabs bxslider" role="tablist">
                                <li class="active">
                                    <a href="#img-1" data-toggle="tab">
                                        <img alt="" src="/static/img/product/tab-image/s-1.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#img-2" data-toggle="tab">
                                        <img alt="" src="/static/img/product/tab-image/s-2.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#img-3" data-toggle="tab">
                                        <img alt="" src="/static/img/product/tab-image/s-3.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#img-4" data-toggle="tab">
                                        <img alt="" src="/static/img/product/tab-image/s-4.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#img-5" data-toggle="tab">
                                        <img alt="" src="/static/img/product/tab-image/s-5.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#img-6" data-toggle="tab">
                                        <img alt="" src="/static/img/product/tab-image/s-6.jpg">
                                    </a>
                                </li>
                            </ul>
                            <!-- BX Slider Navigation -->
                            <div class="outside">
                                <p><span id="slider-prev"></span> <span id="slider-next"></span></p>
                            </div>
                            <!-- BX Slider Navigation -->
                        </div>
                    </div>
                </div>
                <div class="product-center-column col-lg-5 col-md-5 col-sm-7">
                    <h1>Summer Collection</h1>
                    <p id="product-reference">
                        <label>Reference: </label>
                        <span>demo_2</span>
                    </p>
                    <p id="product-condition">
                        <label>Condition: </label>
                        <span class="editable">New product</span>
                    </p>
                    <div class="content-prices clearfix">
                            <p class="price-display"><span class="price" id="price-display">£ 32.40</span> tax incl.</p>
                        <div class="clearfix"></div>
                    </div>
                    <div id="short-description-block">
                        <p>Short-sleeved blouse with feminine draped sleeve detail.</p>
                    </div>
                    <div class="product-quantity-available">
                        <p id="product-available">
                            <span>299</span>
                            <span>Items</span>
                        </p>
                        <p id="availability">
                            <span>In stock</span>
                        </p>
                    </div>
                    <form id="form_buy" action="mail.php" method="post">
                        <div class="product-attributes clearfix">
                            <div id="quantity-wanted-p">
                                <label>Quantity</label>
                                <input type="number" value="0" class="cart-plus-minus-box">
                                <div class="dec qtybutton">-</div>
                                <div class="inc qtybutton">+</div>
                                <span class="clearfix"></span>
                            </div>
                            <div id="attributes">
                                <div class="clearfix"></div>
                                <fieldset class="attribute-fieldset">
                                    <label class="attribute-label">Size</label>
                                    <div class="attribute-list">
                                        <div class="selector">
                                            <select class="form-control attribute-select" name="group_1">
                                                <option title="S" selected="selected" value="1">S</option>
                                                <option title="M" value="2">M</option>
                                                <option title="L" value="3">L</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="attribute-fieldset">
                                    <label class="attribute-label">Color</label>
                                    <div class="attribute-list">
                                        <div class="selector">
                                            <select class="form-control attribute-select" name="group_3">
                                                <option title="White" value="8">White</option>
                                                <option title="Black" selected="selected" value="11">Black</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="product-details-buttons">
                            <a class="cart-btn" href="cart.html"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                            <a href="#"><i class="fa fa-print"></i></a>
                            <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </form>
                    <p class="socialsharing-product">
                        <button class="btn btn-default btn-twitter social-sharing" type="button">
                            <i class="fa fa-twitter"></i>Tweet
                        </button>
                        <button class="btn btn-default btn-facebook social-sharing" type="button">
                            <i class="fa fa-facebook"></i> Share
                        </button>
                        <button class="btn btn-default btn-google-plus social-sharing" type="button">
                            <i class="fa fa-google-plus"></i> Google+
                        </button>
                        <button class="btn btn-default btn-pinterest social-sharing" type="button">
                            <i class="fa fa-pinterest"></i> Pinterest
                        </button>
                    </p>
                    <div id="product-comments-block-extra">
                        <ul class="comments-advices">
                            <li>
                                <a href="#" class="open-comment-form">Write a review</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-right-column col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="sidebar-widget-post">
                        <div class="sidebar-widget-title">
                            <h4><span>Top sellers</span></h4>
                        </div>
                        <div class="sidebar-widget">
                            <div class="sidebar-widget-carousel">
                                <div class="widget-items">
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-1.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Summer Cap</a></h5>
                                            <div class="price-box">
                                                <span>£ 43.87</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-2.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Watch</a></h5>
                                            <div class="price-box">
                                                <span>£ 45.65</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-3.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Winter Hat</a></h5>
                                            <div class="price-box">
                                                <span>£ 23.78</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-4.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Black Shoe</a></h5>
                                            <div class="price-box">
                                                <span>£ 65.76</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-items">
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-5.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Fashion Bags</a></h5>
                                            <div class="price-box">
                                                <span>£ 76.78</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-6.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Sunglass</a></h5>
                                            <div class="price-box">
                                                <span>£ 21.12</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-item">
                                        <div class="widget-item-image">
                                            <a href="#"><img src="/static/img/blog/s-3.jpg" alt=""></a>
                                        </div>
                                        <div class="widget-item-text">
                                            <h5><a href="#" class="product-name">Winter Hat</a></h5>
                                            <div class="price-box">
                                                <span>£ 23.78</span>
                                            </div>
                                            <div class="rating-right">
                                                <div class="star-content">
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                    <div class="star"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="p-details-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#more-info" aria-controls="more-info" role="tab" data-toggle="tab">MORE INFO</a></li>
                            <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">DATA SHEET</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">REVIEWS</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content review">
                        <div role="tabpanel" class="tab-pane active" id="more-info">
                            <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="data">
                            <table class="table-data-sheet">
                                <tbody>
                                    <tr class="odd">
                                        <td>Compositions</td>
                                        <td>Cotton</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Styles</td>
                                        <td>Casual</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Properties</td>
                                        <td>Short Sleeve</td>
                                    </tr>
                                </tbody>
                           </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reviews">
                            <div id="product-comments-block-tab">
                                <a href="#" class="comment-btn"><span>Be the first to write your review!</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Product Details Area-->
    <!--Featured Product Area Start-->
    <div class="featured-product-area product-details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h4><span>9 products in category:</span></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="featured-product-carousel">
                    <div class="single-product-item col-md-4">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-1.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Sunglass</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 89.67</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item col-md-4">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-3.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Fasionable Shoes</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 56.75</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item col-md-4">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-5.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Fasionable Bags</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 68.97</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item col-md-4">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-7.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Fasionable Bags</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 68.97</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-item col-md-4">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/img/product/p-2.jpg" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="wishlist.html"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Fasionable Bags</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>£ 68.97</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Featured Product Area-->

{% endblock %}
