{% extends 'shopping/shop-grid.html' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop List || Bachas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block tab-content %}

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="grid">
            <div class="row">
                {% for image in page %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="single-product-item">
                        <div class="single-product">
                            <div class="item-top">
                                <a href="#"><img src="/static/media/{{image.src}}" alt=""></a>
                                <div class="button-container">
                                    <ul>
                                        <li><a href="{% url 'shopping:cart' %}"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="{% url 'shopping:wishlist' %}"><i class="pe-7s-like"></i></a></li>
                                        <li><a href="#"><i class="pe-7s-copy-file"></i></a></li>
                                        <li><a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-bottom">
                                <h5><a class="product-name" href="#">Exclusive Bag</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box">
                                        <span>$ {{image.product.price}}</span>
                                    </div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="list">
            <div class="row">
                {% for image in page %}
                <div class="shop-product-list col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="#"><img src="/static/media/{{image.src}}" alt=""></a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="shop-product-text">
                                <h5><a href="#">{{image.product.name}}</a></h5>
                                <div class="price-rating-container">
                                    <div class="price-box"><span>$ {{image.product.price}}</span></div>
                                    <div class="rating-right">
                                        <div class="star-content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="product-desc">{{image.product.describe}}
                                </p>
                               <div class="availability"><span>{{image.product.availability.name}}</span></div>
                                <div class="shop-buttons">
                                    <a href="{% url 'shopping:cart' %}" class="cart-btn"><i class="pe-7s-cart"></i><span>Add to Cart</span></a>
                                    <a href="{% url 'shopping:wishlist' %}"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-copy-file"></i></a>
                                    <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}