{% extends 'shopping/base.html' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wishlist || Bachas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <!--Breadcrumb Start-->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <a title="Return to Home" href="{% url 'shopping:home' 1 %}" class="home"><i class="fa fa-home"></i>Home</a>
                        <span class="navigation">&gt;</span>My Wishlist
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb-->
    <!-- wishlist-area start -->
    <div class="wishlist-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-heading">My Wishlists</h1>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="wishlist-content">
                        <form action="#">
                            <div class="wishlist-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-remove"><span class="nobr">Remove</span></th>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name"><span class="nobr">Product</span></th>
                                            <th class="product-price"><span class="nobr"> Unit Price </span></th>
                                            <th class="product-stock-stauts"><span class="nobr"> Stock Status </span></th>
                                            <th class="product-add-to-cart"><span class="nobr">Add to Cart </span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-remove"><a href="#">×</a></td>
                                            <td class="product-thumbnail"><a href="#"><img src="/static/img/cart3.jpg" alt="" /></a></td>
                                            <td class="product-name"><a href="#">Summer Hat</a></td>
                                            <td class="product-price"><span class="amount">£165.00</span></td>
                                            <td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
                                            <td class="product-add-to-cart"><a href="{% url 'shopping:cart' %}"> Add to Cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove"><a href="#">×</a></td>
                                            <td class="product-thumbnail"><a href="#"><img src="/static/img/cart4.jpg" alt="" /></a></td>
                                            <td class="product-name"><a href="#">Fashion Wears</a></td>
                                            <td class="product-price"><span class="amount">£50.00</span></td>
                                            <td class="product-stock-status"><span class="wishlist-in-stock">In Stock</span></td>
                                            <td class="product-add-to-cart"><a href="{% url 'shopping:cart' %}"> Add to Cart</a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <div class="wishlist-share">
                                                    <h4 class="wishlist-share-title">Share on:</h4>
                                                    <ul>
                                                        <li><a class="facebook" href="#"></a></li>
                                                        <li><a class="twitter" href="#"></a></li>
                                                        <li><a class="pinterest" href="#"></a></li>
                                                        <li><a class="googleplus" href="#"></a></li>
                                                        <li><a class="email" href="#"></a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- wishlist-area end -->
{% endblock %}
